* {
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffcc00;
}
main {
    background-color: #33393e;
    display: flex;
    flex-flow: column;

    width: 500px;
    padding: 0px 30px 30px 30px;
}
form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;

}
label {
    color: white;
    margin: 10px 0 5px 0;
}
.btn {
    margin-top: 10px;
    width: 60px;
    padding: 5px;
}

