.searchbutton {
    border-color:#00d1b2;
    color:#00d1b2;
    border-radius: 10px;
    width: 100px;
    display: block;
    box-shadow: 2px 2px 1px black;
}
.plus {
    background-color:#00d1b2;
    color: white;
    border-radius: 50%;
    border-color: #00d1b2;
    display: block;
}
.CA {
    background-color: #2b78e4;
    color: white;
    border-color: #2b78e4;
    box-shadow: 2px 2px 1px black;


    display: block;
}